# dependencies
/node_modules
/.pnp
.pnp.js

# single local env file (CRITICAL: NEVER COMMIT SECRETS TO GIT)
.env
.env*

# Cloudflare Pages / Next.js static build outputs
/out/
/.next/
/build
/.vercel
/.wrangler
_worker.bundle
.dev.vars

# testing
/coverage

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
